@font-face {
  font-family: caveat;
  src: url("./fonts/Caveat-Regular.ttf");
}
html {
  font-family: caveat;
  font-size: 10px;
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}
body {
  background: rgb(181, 181, 248);
  margin: 0;
  height: 100vh;
  font-size: 3rem;
}
h1, h2, p {
  margin: 0;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
footer {
  font-size: 2rem;
}
.top {
  background: rgba(0, 0, 0, 0.181);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}
.cat img {
  border: 6px solid rgb(153, 24, 246);
  border-radius: 5px;
  width: 220px;
  height: 220px;
  object-fit: cover;
}
.cat img:hover {
  cursor: pointer;
}
.memory-game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer {
  text-align: center;
}
.btt-load-sample {
  background: yellow;
  align-self: center;
}